{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.name }} - {{ site.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    {% if page.url == '/'%}<title>{{ site.name }} - {{ site.description }}</title>{% endif %}{% if page.url != '/'%}<title>{{ page.title }} | {{ site.brand_name }} - {{ site.description }}</title>{% endif %}
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.url }}/favicon.png" sizes="32x32" type="image/png">
    <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/style.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/navbar.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/fontello.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    {% if page.url == '/contact-us' or page.url == '/'%}<link href="{{ site.url }}/assets/css/ladda-themeless.min.css" rel="stylesheet">
    <script src="{{ site.url }}/assets/js/spin.min.js"></script>
    <script src="{{ site.url }}/assets/js/ladda.min.js"></script>{% endif %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50931182-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-50931182-7');
    </script>
</head>
<body>
    <div{% if page.header != 'special'%} class="sticky-top"{% endif %}>{% if page.header == 'comment'%}<!--div class="collapse searchbar" id="searchbar">
            <div class="search-area bg-white">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search for Loans, Credit Cards, Insurance in Lucknow"> <span class="input-group-btn"><button class="btn btn-secondary" type="button">Go!</button></span>
                                <div class="btn-close"><a class="close" aria-label="Close" data-toggle="collapse" href="#searchbar" aria-expanded="false"><span aria-hidden="true" class="fas fa-times"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div -->{% endif %}<div class="header-topbar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6 col-6 d-none d-xl-block d-lg-block">
                        <p class="mail-text">{{ site.description }}</p>
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 text-right">
                        <div class="top-nav"><span class="top-text"><a class="text-base leading-6 text-gray-400 hover:text-gray-900" href="/contact-us">Questions? Email us</a></span><span class="top-text">|</span><span class="top-text">{{ site.phone }}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-light">
            {% if page.header == 'special'%}<nav class="navbar navbar-expand-lg navbar-light py-lg-3 border-top bg-light mobile-header-adj">{% endif %}{% if page.header != 'special'%}<nav class="navbar navbar-expand-lg navbar-light py-lg-3 border-top bg-white border-bottom">{% endif %}
                <div class="container">
                    <a href="{{ site.url }}" class="no-select"><img src="{{ site.url }}/assets/images/logo.svg" style="width:250px" alt="{{ site.name }} - {{ site.description }}"></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar top-bar mt-0"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item"><a class="nav-link" id="navbarHome" href="{{ site.url }}/">Home</a></li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarProduct" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Loans</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarProduct">
                                    <li><a href="{{ site.url }}/personal-loan" class="dropdown-item">Personal Loan</a></li>
                                    <li><a href="{{ site.url }}/home-loan" class="dropdown-item">Home Loan</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Car Loan</a></li>
                                    <li><a href="{{ site.url }}/business-loan" class="dropdown-item">Business Loan</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarProduct" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Insurance</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarProduct">
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Car Insurance</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Health Insurance</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Life Insurance</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarProduct" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Accounting</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarProduct">
                                    <li><a href="{{ site.url }}/" class="dropdown-item">GST</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Income Tax Returns</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Firm Registration</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Book Keeping</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarProduct" data-toggle="dropdown" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">Deposits</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarProduct">
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Fixed Deposits</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Reccuring Deposits</a></li>
                                    <li><a href="{{ site.url }}/" class="dropdown-item">Stocks, Demat, Mutual Funds</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/contact-us">Contact us</a></li>
                        </ul>{% if page.header == 'comment'%}
                        <!--span class="search-nav"><a class="search-btn collapsed" role="button" data-toggle="collapse" href="#searchbar" aria-expanded="false"><i class="fa fa-search"></i></a></span-->{% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
